{% extends 'base.html' %}
{% block content %}
<div class="row">
      <a href="{{ url_for('posts.list') }}"> 
      {{ render_icon('arrow-left', 18) }}к объявлениям</a>
   </div>
<div class="row mt-5">
      <div class="col-md-3 text fs-5 font-family-Inter">
            {{ title }}
      </div>
      <div class="col-md-5">
            <nbsp class="text fs-5 fw-semibold font-family-Inter">{{user.name}}</nbsp>
      </div>
</div>

<form action="{{ url_for('auth.cabinet') }}" method="post">
      <div class="row">
            <input type="hidden" value={{user.name}} name="name">
            <div class="col-md-3">
                  e-mail:
            </div>
            <div class="col-md-1">
                  {{render_icon("envelope-at",18)}}
            </div>
            <div class="col-md-3">
                  {% if user.email!=None and user.email!="" %}
                  <input type="email" value={{user.email}} class="form-control" name="email">
                  {% else %}
                  <input type="email" placeholder="e-mail" class="form-control" name="email" pattern="[^@\s]+@[^@\s]+">
                  {% endif %}
            </div>
      </div>
      <div class="row">
            <div class="form-check ">
                  {% if user.issend!=None and user.issend==1%}
                  <input class="form-check-input" type="checkbox" value="Да" name="newsletter" id="per" checked>
                  {% else %}
                  <input class="form-check-input" type="checkbox" value="Да" name="newsletter" id="per">
                  {% endif %}
                  <label class="form-check-label" for="per"> рассылка на почту </label>
            </div>
      </div>
      {% if filterstr!=None %}
      <div class="row">
           
            <div class="col-md-3">
                  <span class="opacity-50">фильтр для рассылки: </span>

            </div>
            <div class="col-md-5">
                  {{render_icon("funnel-fill",18)}}

                  {{filterstr}}
            </div>
            
      </div>
     
      {% endif %}
      <div class="col-md-4">
            <a class="link-underline-primary" href="/filter/set">
                  изменить фильтр для рассылки</a>

      </div>

      <div class="row mb-5">
  <!--           <div class="col"><input type="button" class="btn btn-primary mt-3 mb-2 rounded-2" value="Выйти"
                        onclick="window.location.href='/list';" /> </div>
 -->
            <div class="col"><input type="submit" class="btn btn-primary mt-3 mb-2 rounded-2" value="Сохранить">
            </div>
      </div>
</form>

<div class="row px-6 py-10 mt-5" style="background-color:rgb(225, 237, 255);">
      <div class="col-md-1">
            <nbsp class="text-dark fs-1 fw-semibold font-family-Inter">{{ render_icon('info-circle', 32) }}</nbsp>
            <span class="navbar-toggler-icon"></span>
      </div>
      <div class="col-md-8 align-items-center">
            <nbsp class="text-dark fs-6 fw-semibold font-family-Inter px-3 py-2">
                  Кабинет предназначен для управления вашими настройками.
                  Если Вы хотите получать рассылку о новых объявлениях на сайте,
                  Вам нужно указать свой e-mail и отметить флажком "рассылка на почту".
                  После этого нажать на кнопку "сохранить". Новые объявления - это те, которые появились за последние
                  сутки </nbsp>
      </div>
</div>
{% endblock %}