{% extends 'base.html' %}
{% block content %}
<div class="row px-6 mt-6 mb-6">
      <div class="col-3 justify-content-center px-6">
            <a class="link-underline-primary" href="{{ url_for('posts.list') }}">
                  Вернуться на главную</a>
      </div>
      <div class="row justify-content-center px-2 py-2 ">
            <h4>{{ title }}{{user.name}}</h4>
            <form action="{{ url_for('auth.cabinet') }}" method="post">
                      <input type="hidden"  name="name" value={{user.name}}>
                      <div class="row">
                        <div class="col-md-2">
                              <p class="form-text">e-mail</p>
                        </div>
                        {% if user.email!=None and user.email!="" %}
                        <div class="col-md-3"><input type="email" value={{user.email}}  class="form-control" name="email">  </div>
                     {% else %} 
                        <div class="col-md-3"><input type="email"  placeholder="e-mail" class="form-control" name="email">  </div>
                     {% endif %}   
                  </div>
                  
                  <div class="row">
                     {% if filterstr!=None %}
                        <div class="col-md-4">                             
                              <span class="opacity-50">сохраненный фильтр: </span>{{filterstr}}
                             
                              <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="да" name="clean"
                                          id="per">
                                    <label class="form-check-label" for="per">  очистить сохраненный фильтр</label>
                                 
                              </div>    
                        </div>
                      {% endif %}
                        <div class="col-md-4">
                              <a class="link-underline-primary" href="/filter/set">
                                    изменить сохраненный фильтр</a>

                        </div>
                  </div>
                  <div class="form-check ">
                        {% if user.issend!=None and user.issend==1%}
                          <input class="form-check-input" type="checkbox" value="Да" name="newsletter" id="per" checked>
                        {% else %}
                          <input class="form-check-input" type="checkbox" value="Да" name="newsletter" id="per" >
                        {% endif %}
                          <label class="form-check-label" for="per"> рассылка на почту </label>
                  </div>

                  <div class="row mb-5">
                        <div class="col"><input type="button" class="btn btn-primary mt-3 mb-2 rounded-2" value="Выйти"
                              onclick="window.location.href='/list';" /> </div>

                        <div class="col"><input type="submit" class="btn btn-primary mt-3 mb-2 rounded-2"
                                    value="Сохранить">
                        </div>
                  </div>
            </form>

      </div>
</div>
{% endblock %}