{% extends 'base.html' %}
{% block content %}
<div class="row px-6 mt-6 mb-6">
      <div class="col-md-3 justify-content-center px-6">
            <a class="link-underline-primary" href="{{ url_for('auth.title') }}">
                  Вернуться на главную</a>
            <div class="row justify-content-center px-2 py-2 bg-secondary-subtle ">
                  <div class="align-items-center mt-4">
                        <h4>{{ title }}</h4>
                        <form action="{{ url_for('auth.register') }}" method="post">
                              <div class="row">
                                    <div class="col"><input type="text" class="form-control" name="name"
                                                placeholder="логин" required> </div>
                              </div>
                              <div class="row">
                                    <div class="col"><input type="password" placeholder="пароль" class="form-control"
                                                name="password" pattern=".{8,}" title="длина не менее 8 символов" required> </div>
                              </div>
                              <div class="row">
                                    <div class="col"><input type="password" class="form-control" name="password2"
                                                placeholder="подтверждение пароля" required> </div>
                              </div>
                              <div class="row mb-5">
                                    <div class="col"><input type="submit" class="btn btn-primary mt-3 mb-2 rounded-2"
                                                value="Сохранить"> </div>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>
{% endblock %}