{% extends 'base0.html' %}
{% block content %}
<ul class="nav nav-pills">
      <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/title">Работодателям</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/appage">Соискателям</a>
      </li>

</ul>
{{ render_messages() }}

<!-- logo+msg -->
<div class="row mt-2 justify-content-center" style="min-height: 430px;">
      <div class="col-md-5 mt-3 py-3">
            <div class="row justify-content-end">
                  <div class="col-md-8 j d-flex">
                        <img src={{ url_for('static', filename='LogoStartScreen_224X62.png' ) }}>

                  </div>
                  <div class="col-md-8  d-flex">
                        <div class=" row text-dark fs-4 fw-semibold font-family-Inter m-0 px-3 py-2">
                              Работодателям (מַעֲסִיק): <br>
                              <span class="fs-6">
                                    <ul>
                                          <li>поиск сотрудников</li>
                                          <li>размещение вакансий</li>
                                    </ul> Для этого требуется регистрация.<br>
                                    </ul>
                              </span>
                        </div>
                  </div>
                  <div class="col-md-8 justify-content-center d-flex">
                        <div class=" row text-dark fs-4 fw-semibold font-family-Inter m-0 px-3 py-2">
                              Соискателям(מחפש עבודה): <br> <span class="fs-6">
                                    <ul>
                                          <li>размещение своей анкеты</li>
                                          <li>просмотр вакансий</li>
                                    </ul> Регистрация не требуется.
                              </span></div>
                  </div>
      </div>
      </div>
     
      <!-- registration form -->
      <div class="col-md-3 mt-5 ">
            <div class="row justify-content-center px-2 py-2 bg-secondary-subtle ">
                  <div class="col-md-10 align-items-center">
                        <nbsp class="text-dark fs-5 fw-semibold font-family-Inter px-3 py-2">
                              {{ title }} </nbsp>
                  </div>
                  <div class="col-md-10 align-items-center ">
                        <form action="{{ url_for('auth.register') }}" method="post">
                              <div class="row mt-2">
                                    <div class="col"><input type="text" class="form-control" name="name"
                                                placeholder="логин" pattern="[^' ']+" title="пробелы не допускаются"
                                                required> </div>
                              </div>
                              <div class="row">
                                    <div class="col"><input type="password" placeholder="пароль" class="form-control"
                                                name="password" pattern=".{8,20}" title="длина от 8 до 20 символов"
                                                required> </div>
                              </div>
                              <div class="row">
                                    <div class="col"><input type="password" class="form-control" name="password2"
                                                pattern=".{8,20}" placeholder="подтверждение пароля" required> </div>
                              </div>
                              <div class="row">
                                    <div class="col">
                                          <input type="email" placeholder="e-mail " class="form-control" name="email"
                                                pattern="[^@\s]+@[^@\s]+" required>
                                    </div>
                              </div>
                              <div class="form-check bg-white">
                                    <div class="col-md-10 ">
                                          <input class="form-check-input" type="radio" name="ishr" id="s1" value=1
                                                required>
                                          <label class="form-check-label" for="s1"> я работодатель</label>
                                    </div>
                                    <div class="col--md-10 ">
                                          <input class="form-check-input" type="radio" name="ishr" id="s2" value=0>
                                          <label class="form-check-label" for="s2"> я соискатель</label>
                                    </div>
                              </div>
                              <div class="row mb-2 mt-2">
                                    <div class="col"><input type="submit" class="btn btn-primary rounded-2"
                                                value="Сохранить">
                                    </div>
                                    <div class="col">
                                          <a class="link-underline-primary" href="{{ url_for('auth.title') }}">Назад</a>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
      </div>     
</div>
{% endblock %}