{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <span class="text fs-5 fw-semibold">Пользователи</span>
  </div>
  <div class="col-md-8">
    {{ pagination.info }}
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    {{ pagination.links }}
  </div>
  <div class="col-md-2">
    <input type="button" class="btn btn-dark btn-sm" value="Рассылка" onclick="window.location.href='/mail';" />
  </div>

  <div class="col-md-2">
    <input type="button" class="btn btn-dark btn-sm" value="обновить" onclick="window.location.href='/mix';" />
  </div>
</div>
<div class="row">
  <table id="data" class="table table-striped table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-secondary border-start border-end border-light text-left">
        <th class="col-md-1">id</th>
        <th class="col-md-3">логин</th>
        <th class="col-md-3">e-mail</th>
        <th class="col-md-1">рассылка</th>
        <th class="col-md-2">дата рассылки</th>
      </tr>
    </thead>
    <tbody>
      {% for o in list %}
      <tr class="{{ loop.cycle('table-default', 'table-light') }}  border-start border-end border-light">
        <th>
          <a class="link-underline-primary" href="/user/{{o[" id"] }}">
            {{ o["id"] }}</td>
          </a>
        </th>
        <td>
          <a class="link-underline-primary" href="/user/{{o[" id"] }}">
            {{ o["name"] }}
        </td>
        </a>

        <td>
          {% if o.email!=None %}
          {{ o["email"] }}
          {% endif %}
        </td>
        <td>
          {% if o.issend!=None and o.issend==1%}
          Да
          {% endif %}
        </td>
        <td>
          {% if o.mailsend!=None %}
          {{ o["mailsend"] }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}