avoda.db
avoda/__pycache__

migrations/versions/__pycache__
__pycache__

logs/avoda.log
logs/avoda.log.1
logs/avoda.log.2
logs/avoda.log.3
avoda.log
logs/avoda.log.6
logs/avoda.log.7
logs/avoda.log.8
logs/avoda.log.9
logs/avoda.log.10
migrations/versions/4a4cf21ce779_.py
migrations/versions/c85209b90f1a_.py
login.js
logs/avoda.log.4
logs/avoda.log.5

advt.sql
logs/avoda.log.10
