{% extends 'base.html' %}
{% block content %}
<h3>{{ title }}</h3>
<div class="container">
      <form action="/list" method="post">
            <div class="row">
                  <div class="col-md-4">
                        <nbsp class="form-text">Показывать объявления за последние  </nbsp>
                        <input type="text" class="form-control" name="days" value=30 required>
                        <nbsp class="form-text">дней *</nbsp>
                  </div>
                  <div class="row">
                        <div class="col-md-3">
                              <span class="form-text">Регион *</ызфт>
                                    <select name="place" class="form-select" aria-label="Город:" required>
                                          <option selected></option>
                                          {% for town in towns %}
                                          <option value={{town}}>{{town}}</option>
                                          {% endfor %}
                                    </select>
                        </div>
                        <div class="col-md-3">
                              <span class="form-text">Профессия:</span>
                              <select name="oc" class="form-select" aria-label="Профессия:">
                                    <option selected>-</option>
                                    {% for oc in occupations %}
                                    <option value={{oc}}>{{oc}}</option>
                                    {% endfor %}
                              </select>
                        </div>

                  </div>
                  <div class="row">
                        <div class="col-md-5">
                              <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="да" name="permanent"
                                          id="per">
                                    <label class="form-check-label" for="per"> Сохранить в настройках </label>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col"><input type="button" class="btn btn-primary mt-3 mb-2 rounded-2" value="отмена"
                                    onclick="window.location.href='/list';" /> </div>

                        <div class="col"><input type="submit" class="btn btn-primary mt-3 mb-2 rounded-2" value="Ok" />
                        </div>
                  </div>
      </form>
</div>
{% endblock %}