{% extends 'base.html' %}
{% block content %}
<div class="row">
      <a href="{{ url_for('posts.list') }}"> 
      {{ render_icon('arrow-left', 18) }}к объявлениям</a>
   </div>
<div class="row mt-5">
      <div class="col-md-2 text fs-4 fw-semibold font-family-Inter">
            {{ title }}
      </div>
      <div class="col-md-2">
            {{render_icon("funnel",20)}}
      </div>
</div>
<div class="col-md-5 text fs-5 fw-semibold font-family-Inter"> Фильтр для поиска </div>
<div class="row">
{% if session['roles'].count("adminisrators")>0 and id!=session["_user_id"]%}
    <form action="/users/f/{{id}}" method="post">
{% else %}
     <form action="/list" method="post">    
{% endif %}           
                  <div class="row">
                        <div class="col-md-4 form-text">За сколько дней показывать объявления: 
                        </div>
                       <div class="col-md-2">
                             <input type="number" class="form-control" name="days" value=30 
                             pattern="[0-9]" title=" допускаются только цифры" required>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-4">
                              <span class="form-text">Регион *</span>
                              <select name="place" class="form-select" aria-label="Город:" required>
                                    <option selected></option>
                                    {% for town in towns %}
                                    <option value={{town}}>{{town}}</option>
                                    {% endfor %}
                              </select>
                        </div>
                        <div class="col-md-3">
                              <span class="form-text">Профессия:</span>
                              <select name="oc" class="form-select" aria-label="Профессия:">
                                    <option selected>-</option>
                                    {% for oc in occupations %}
                                    <option value={{oc}}>{{oc}}</option>
                                    {% endfor %}
                              </select>
                        </div>

                  </div>
                  <div class="row">
                        <div class="col-md-4">
                              <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="да" name="permanent"
                                          id="per">
                                    <label class="form-check-label" for="per"> Сохранить для рассылки
                                    </label>

                              </div>
                        </div>
                  </div>
                        <div class="row-mt-3">
           
                              <div class="col-md-3">
                                    <span class="text fs-5 fw-semibold font-family-Inter">Фильтр для рассылки: </span>
                  
                              </div>
                              <div class="col-md-5">
                                   {{filterstr}}
                              </div>
                              
                        </div>
                        <div class="col-md-5">
                              {% if id==0 %}
                              <a class="link-underline-primary" href="/filter/all?id={{session["_user_id"] }}">
                                    очистить фильтр для рассылки</a>
                              {% else %}
                              <a class="link-underline-primary" href="/filter/all?id={{id}}">
                                    очистить фильтр для рассылки</a>
                              {% endif %}      
                                    <!-- <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="да" name="clean" id="c">
                                    <label class="form-check-label" for="c"> очистить сохраненный фильтр</label>
                              </div> -->
                        </div>

                  
                  <div class="row">
<!--                         <div class="col"><input type="button" class="btn btn-primary mt-3 mb-2 rounded-2" value="отмена"
                                    onclick="window.location.href='/list';" /> </div>
 -->
                        <div class="col"><input type="submit" class="btn btn-primary mt-3 mb-2 rounded-2" value="Ok" title="Сохранить фильтр" />
                        </div>
                  </div>
            </form>
</div>
<div class="row mt-5 bg-secondary-subtle">
      <div class="col-md-1">
            <nbsp class="text-dark fs-1 fw-semibold font-family-Inter">{{ render_icon('info-circle', 32) }}</nbsp>
      </div>
      <div class="col-md-8 align-items-center">
            <nbsp class="text-dark fs-6 fw-semibold font-family-Inter px-3 py-2">
                  Установите фильтр для показа объявлений.
                  Если Вы отметите флажком "сохранить для рассылки", то этот фильтр будет установлен постоянно.
                  Если Вы настроите почтовую рассылку через <a href="{{ url_for('auth.cabinet') }}"> Кабинет</a>

                  то сообщения о новых постах будут приходить в соответствии с фильтром для рассылки.
                  Для того, чтобы видеть все объявления, нажмите на кнопку
                  <a href="/filter/all"> Показать все</a>.
                  Если для поиска вы выберете категорию со звездочкой,то в результатах поиска будут подкатегории. 
                  Например "Север" вернет Акко и Нагарию.
            </nbsp>
      </div>
</div>
</div>
{% endblock %}