{% extends 'base.html' %}
{% block content %}
<div class="px-6">
  <div class="row">
    <div class="col">
      <span class="text fs-5 fw-semibold">{{title}}</span>
    </div>
    <div class="col">
      {{ pagination.info }}
    </div>
  </div>
  <div class="row">
    <div class="col-1"><input type="button" class="btn btn-light btn-sm" value="Фильтр"
        onclick="window.location.href='/filter/set';" />
      {% if session['filter']!="" %}
       <div class="col-1"> <input type="button" class="btn btn-light btn-sm" value="Все" onclick="window.location.href='/filter/all';" />
       </div>
       {% endif %}
    </div>
    {% if session['roles'].count("create_post")>0 %}
    <div class="col-4"><input type="button" class="btn btn-light btn-sm" value="Создать объявление"
        onclick="window.location.href='/create';" /></div>
    {% endif %}
    <div class="col-6">
      <form action="/search" method="post">
        <input type="text" class="form-control-sm" name="phone" /> <input type="submit" class="btn btn-light btn-sm" value="Найти" />
      </form>
    </div>
  </div>
  {{ pagination.links }}
  <table id="data" class="table table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-secondary border-start border-end border-light text-left">
        <th class="col-1">№</th>
        <th class="col-1">Имя</th>
        <th class="col-1">Контакт</th>
        <th class="col-1">Город</th>
        <th class="col-7 ">Описание</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr
        class="{{ loop.cycle('table-default', 'table-light') }}  border-start border-end border-light">
        <th>
          <a class="link-underline-primary" href="/show/{{loop.index}}">
            {{loop.index + pagination.skip}}
          </a>
        </th>
        <td class="col-1"> {{ post["name"] }}</td>
        <td class="col-1"> {{ post["phone"] }}</td>
        <td class="col-1"> {{ refs[post["place"]]}}</td>

        <td class="col-7">{{ post["text"][:200] }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}