{% extends 'base.html' %}
{% block content %}
<div class="container-md">
   <div class="px-6 mt-3">
      {% if session['page'] %}
      <a class="link-underline-primary font-family-Inter" href="/list?page={{session['page']}}">   {{ render_icon('arrow-left', 18) }} Вернуться к списку</a>
      {% else %}
      <a class="link-underline-primary font-family-Inter" href="/list">   {{ render_icon('arrow-left', 18) }}Вернуться на страницу </a>
      {% endif %}
   </div>
   <div class="row mt-3">
      <p class="font-family-Inter  opacity-50" >
         Опубликовано {{days}} дней назад {{post["updated"]}}</p>
   </div>
   <div class="row">
      <div class="col-md-2 text fs-5 fw-semibold font-family-Inter">{{ post["name"] }}</div>

      <div class="col-md-2">
         {% if post.sex!=None %} <span class="badge text-bg-secondary">{{ post["sex"]}}</span> {% endif %}
      </div>
      <div class="row">
         <div class="col-md-2 text fw-semibold font-family-Inter">
            {{ post["phone"] }}</div>
         <div class="col-md-2">{{render_icon('geo-alt-fill', 16) }} {{ post["place"] }} </div>
      </div>
      {% if post.contacts!=None %}
      <div class="row">
         <div class="col-md-2 opacity-50"> Ссылки: </div>
         <div class="col-md-9">{{render_icon('facebook', 16) }}
            {% if post["contacts"]!="" %} 
            <a class="link-underline-primary" href="{{ post["contacts"]}}">  {{ post["contacts"]}} </a>
            {% endif %}
     
         </div>
      </div>
      {% endif %}
      <div class="row justify-content-start">
         <div class="col-md-2">
            <div class="opacity-50"> Занятость:</div>
         </div>
         <div class="col-md-9">
         {% if post["o_kind"]!=None %}
            {{render_icon('clock', 16) }}
            {% for o in post["o_kind"] %}
            {{o}}
            {% endfor %}
            {% endif %}
         </div>

      </div>
      <div class="row">
         <div class="col-md-2">
           <span class="opacity-50"> Категория:</span>
         </div> 
         <div class="col-md-9">
         {% if post.occupations!=None %}
            {{render_icon('gear-fill', 16) }}
            {% for os in post.occupations %}
            <span class="badge text-bg-secondary">{{os}}</span>
            {% endfor %}
            {% endif %}
         </div>
      </div>
      <div class="row">
         <div class="col-md-2">
            <span class="opacity-50"> Языки:</span>
         </div>   
         <div class="col-md-9">
          {{render_icon('globe', 16) }}
           {{ post.get_len()}}
         </div>

      </div>
      <div class="row">
         <div class="col-md-2">
           <span class="opacity-50"> Документы:</span>
         </div>
         <div class="col-md-9">
           {% if post.docs!=None %}
            {{render_icon('passport', 16) }}
            {% for os in post.docs %}
            {{os}}
            {% endfor %}
            {% endif %}
         </div>
      </div>
      <div class="row">
         <div class="col">
            <span class="opacity-50"> Объявление:</span>
            <div>
               <div class="col width=70%">
                  {{ post["text"] }}
               </div>
            </div>
         </div>
      </div>
      <i class="bi-search"> </i>
      <div class="col">
         <input type="button" class="btn btn-dark btn-sm" value="Распечатать" onclick="window.print()" />

      </div>
   </div>
   <div class="row mt-3 opacity-50">
      <div class="col">
         {{current}}-й из {{last}}
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">
         {% if prev!=0 %}
         <input type="button" class="btn btn-primary rounded-2" value="Назад"
            onclick="window.location.href='/show/{{prev}}';" />
         {% endif %}
        {% if next!=0 %}
         <input type="button" class="btn btn-primary rounded-2" value="Вперед"
            onclick="window.location.href='/show/{{next}}';" />
         {% endif %}
      </div>
   </div>
   <div class="row">
      <div class="col-2">
         {% if session['roles'].count("create_post")>0 %}
         <a class="link-underline-primary" href="/post/{{post.id }}"> изменить </a>
         {% endif %}
      </div>
      <div class="col-2">
         {% if session['roles'].count("adminisrators")>0 %}

         <a class="link-underline-primary" href="/del/{{post.id }}"> удалить </a>
         {% endif %}
      </div>
   </div>
</div>
</div>
{% endblock %}