{% extends 'base.html' %}
{% block content %}

<div class="row mt-5">
      <div class="col-md-3 text fs-5 font-family-Inter">
            {% if id==0 %}
            Создать объявление
            {% else %}
            Изменить объявление
            {% endif %}
      </div>
      
</div>
<div class="row">
      <form action="/advert/edit/{{id}}" method="post">
            <div class="row">
                  <div class="col-md-3 form-text">Название
                  </div>
                  <div class="col-md-2">
                        <input type="text" class="form-control" name="name" value="{{adv["name"]}}" required>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-3 form-text">Телефон
                  </div>
                  <div class="col-md-2">
                        <input type="text" class="form-control" name="phone" value={{adv["phone"]}}>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-3 form-text">Ссылки
                  </div>
                  <div class="col-md-2">
                  {% if adv["contacts"]!=None %}
                        <input type="text" class="form-control" name="contacts" value={{adv["contacts"]}}>
                  {% else %}
                  <input type="text" class="form-control" name="contacts" >
                  {% endif %}
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-3 form-text">Текст
                  </div>
                  <div class="col-md-10">
                       <textarea class="form-control" name="text" ,  rows="3"
                  required> {{ adv["text"] }}</textarea>
                  </div>
            </div>
            <div class="row">
                  <div class="form-check ">
                     {% if adv["priority"]!=None  %}
                        <input type="number" class="form-control" name="priority" value={{adv["priority"]}}>
                      {% else %}
                        <input type="number" class="form-control" name="priority" value=0>
                      {% endif %}
                       
                  </div>
            </div>
            <div class="col"><input type="submit" class="btn btn-primary mt-3 mb-2 rounded-2" value="Ok"
                        title="Сохранить" />
            </div>
      </form>
</div>

{% endblock %}