{% extends 'base.html' %}
{% block content %}

<div w3-include-html="templates/news/in1.html"></div>
<div class="row mt-4">
      <div class="col-md-2"> {{ render_icon('info-circle', 32) }}</div>
      <div class="col-md-8 text-dark fs-4 fw-semibold font-family-Inter">
            <a class="link-underline-primary" href="{{ url_for('auth.info') }}"> О системе -></a>

      </div>
      {% if is_admin==True %}
      <div class="row col md-1">
            <input type="button" class="btn btn-dark btn-sm" value="Создать"
                  onclick="window.location.href='/info/edit/0';" />
      </div>
      {% endif %}
      <!-- permanent news -->
      <div class="row mt-4">
            <div class="col-md-2"> {{ render_icon('question-circle', 32) }}</div>
            <div class="col-md-8 text-primary fw-semibold fs-4 font-family-Inter"> Вопросы и ответы </div>
      </div>
      {% for n in pNews %}
      <div class="row">
            {% if is_admin==True %}
            <div class="col-md-1 text fs-5">
                  <a class="link-underline-primary" href="/info/edit/{{n["id"]}}">{{n["id"]}}</a>
            </div>
            {% endif%}
            <div class="col-md-10 text fs-5 fw-semibold font-family-Inter">
                  Вопрос:&nbsp {{ n["head"] }}
            </div>
            <div class="col-md-10 text font-family-Inter">
                  Ответ:&nbsp {{ n["text"] }}
            </div>
            <div class="col-md-2">
          {% if n["link"]!=None %} 
                 <a class="link-underline-primary" href="{{n["link"]}}" target="_blank">
                  посмотреть -></a>
            {% endif %} 
            </div>
      </div>
      {% endfor %}
</div>
<div class="row mt-4 ">
      <div class="col-md-2"> {{ render_icon('exclamation-circle', 32) }}</div>
      <div class="col-md-8 text-primary fw-semibold fs-4 font-family-Inter"> Новости и объявления </div>
</div>
{% for n in all %}
<div class="row">
      {% if is_admin==True %}
      <div class="col-md-1 text fs-5">
            <a class="link-underline-primary" href="/info/edit/{{n["id"]}}">{{n["id"]}}</a>
            {% endif%}
      </div>
      <div class="col-md-10 text fs-5 fw-semibold font-family-Inter">
            {{ n["head"] }}
      </div>
      <div class="col-md-10 text font-family-Inter">
            {{ n["text"] }}
      </div>
      <div class="col-md-2">
            {% if n["link"]!=None %} 
                   <a class="link-underline-primary" href="{{n["link"]}}" target="_blank">
                    посмотреть -></a>
              {% endif %} 
              </div>
</div>
{% endfor %}
{% endblock %}