{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <span class="text fs-5 fw-semibold">{{title}}</span>
  </div>
  <div class="col-md-6">
    {{ pagination.info }}
  </div>
</div>

<div class="row ">
  {% if session['name'] %}
  <div class="col-sm-2">
    <input type="button" class="btn btn-dark btn-sm rounded-2" value="Добавить вакансию"
      onclick="window.location.href='/vac/0';" />
  </div>
    {% if session['roles'].count("create_post")>0 %}
   <form  action="/vfilter" method="post">
      <div class="col-sm-2">  
        <input type="submit" class="btn btn-dark btn-sm rounded-2" value="Показать" />
       </div> 
       <div class="col-sm-3">   
       <select class="form-select" name="showres" id="showres">
        <option selected>-</option>
        {% for r in results %}
        <option value={{r}}>{{r}}</option>
        {% endfor %}
      </select>
  
      </div>
    </form>
    {% endif %}
  {% endif %}
 
</div>
<div class="row">
  {{ pagination.links }}
</div>
<div class="row">
  <table id="data" class="table table-striped table-hover border-top border-bottom border-light">
    <thead>
      <tr class="table-secondary border-start border-end border-light text-left">
       
        <th scope="col ">Контакт</th>
        <th scope="col" class="d-none d-md-block">Имя</th>
        <th scope="col">Город</th>
        <th scope="col-md-6">Описание</th>
        <th scope="col">З/п от</th>
        {% if session['name'] and session['roles'].count("create_post")>0 %}
        <th scope="col"></th>
        {%endif%}
      </tr>
    </thead>
    <tbody>
      {% for post in list %}
      <tr class="{{ loop.cycle('table-default', 'table-light') }}  border-start border-end border-light">
        <td>
          <a class="link-underline-primary" href="/vac/{{post["id"]}}">
            {{ post["phone"] }} </a>
        </td>
        <td>  <span class="d-none d-md-block">
          <a class="link-underline-primary" href="/vac/{{post["id"]}}">
            {{ post["name"][:20]}}</td>
          </a>
          </span>
        </td>

       
        <td>
          {{ refs[post["place"]]}}</td>
        </td>
        <td>
          <!-- <span class="d-md-none"> </span> -->
          <span class="text fw-semibold">
            {{ show_in_view(post["occupations"]) }}
          </span>
          <span class="d-none d-md-block">{{ post["text"][:200] }}
            {% if post["text"]|length > 200 %}
            ...
            {% endif %}
          </span>

        </td>
        <td>
          {{ post["salary"]}}
        </td>
        {% if session['name'] and session['roles'].count("create_post")>0 %}
        <td>
          {% if post["result"]!=None %}
          {{ results[post["result"]]}}
          {%else%}
          -
          {%endif%}
        </td>
        {%endif%}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}