<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='hatul.png') }}">
    {% block styles %}
    <!-- Bootstrap CSS 
            {{ bootstrap.load_css() }}-->

    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    {% endblock %}
    <title>עבודה</title>
    {% endblock %}
</head>

<body>
    <div class="container-md">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="d-flex">
                    <img src={{ url_for('static', filename='LogoHeader_144X40.png' ) }}>
                </div>
                <a class="navbar-brand" href="{{ url_for('posts.list') }}">
                    Поиск сотрудников</a>
                    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ui class="navbar-nav me-auto">
                        {% if session['name'] %}
                          {% if session['page'] %}
                            <li class="nav-item "><a class="nav-link active" href="/list?page={{session['page']}}">Эта страница</a> </li>
                          {% else %}
                          <li class="nav-item "><a class="nav-link active" href="/list"></a>Эта страница </li>
                          {% endif %} 

                        {% if session['roles'].count("adminisrators")>0 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Управление
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/refs/0">Справочники</a>
                              <a class="dropdown-item" href="/users/0">Пользователи</a>
                              
                            </div>
                          </li>
                        
                        {% endif %}
                      
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('auth.cabinet') }}"> Кабинет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('auth.logout') }}"> Выйти</a>
                        </li>
                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('auth.login') }}">Вход</a>
                        </li>
                        {% endif %}
                    </ui>
                    <span class="navbar-text align-items-right"> User name: {{ session['name'] }} </span>
                </div>
            </div>
        </nav>

        {% from 'bootstrap5/utils.html' import render_messages %}
        {{ render_messages() }}
        <div class="container" style="height: 800px;">
            {% block content %} {% endblock %}
        </div>
        <footer class="container">
            {% block footer %}
            <div class="bg-primary row d-flex">
                <div class="col-6 px-1 py-1  justify-content-left">
                    <span class="text-white  font-family-Inter m-0 px-3 py-2" style="font-size: 0.75rem;">
                        ver 1.21 25.05 Hatul Madan
                    </span>
                </div>
                <div class="col-6 px-1 py-1  justify-content-right">
                    <span
                        class="text-white  font-family-Inter text-decoration-underline m-0 px-3" style="font-size: 0.75rem;">
                        Связаться с нами
                </span>
                </div>

            </div>

            {% endblock %}
        </footer>
        {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
              $(function() {
                $('a#check_input').bind('click', function() {
                    $.getJSON('/check', {
                      phone: $('input[name="phone"]').val(),
                    }, function(data) {
                      $("#result").text(data.result);
                     
                    });
                    return false;
                });

              });
        </script>
        {{ bootstrap.load_js() }}
        {% endblock %}
    </div>

</body>

</html>