{% extends 'base0.html' %}
{% block content %}
<ul class="nav nav-pills">
      <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/title">Работодателям</a>
      </li>
      <li class="nav-item">
            <a class="nav-link active" href="/appage">Соискателям</a>
      </li>

</ul>
{{ render_messages() }}
<div class="row justify-content-center mt-3 " style="min-height: 450px;">
      <div class="col-md-6" <!-- logo+text -->
            <div class="row">
                  <div class="col-md-5 py-3 d-flex align-items-end">
                        <img src={{ url_for('static', filename='LogoStartScreen_224X62.png' ) }}>

                  </div>

            </div>
    
      <div class="row ">
            <div class="col-md-6">
                  <p class="text-start text-dark fs-4 fw-semibold font-family-Inter ">
                        В системе более 400 работодателей и кадровых агенств.<br> Просмотрите вакансии, которые
                        они разместили.<br>
                        <a class="link-underline-primary fs-5 fw-normal font-family-Inter" href="/svacs">
                              вакансии </a>
                  </p>

                  <span class="text-end text-primary font-family-Inter" style="font-size: 0.75rem;">
                        Связаться с нами: {{render_icon('phone-fill', 16) }} 053-6405871 </span>

                  <span class="text-end text-primary font-family-Inter" style="font-size: 0.75rem;">
                        {{render_icon('envelope-fill', 16) }} <a
                              href="mailto:avoda.site.il@gmail.com">avoda.site.il@gmail.com</a>
                  </span>

            </div>

            <div class="col-md-6">
                  <p class="text-start  text-dark fs-4 fw-semibold font-family-Inter">
                        Больше всего ищут работников заводы, стройки, магазины. Заполните анкету, чтобы о Вас
                        узнали
                        работодатели. <br>
                        <a class="link-underline-primary fs-5 fw-normal font-family-Inter" href="/prepost/0">
                              анкета </a>
                  </p>
            </div>

      </div>
</div>

</div>
</div>
{% endblock %}