<!doctype html>
<html lang="en">

<head>
   {% block head %}
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="icon" href="{{ url_for('static', filename='hatul.png') }}">
   {% block styles %}
   <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
   {% endblock %}
   <title>עבודה</title>
   {% endblock %}
</head>

<body>
   <div id="component" class="container-md">
    {% from 'bootstrap5/utils.html' import render_messages %}
         
    {{ render_messages() }}
      <!-- logo+login -->
      <div class="row mt-5 justify-content-center" style ="min-height: 430px;">
         <!-- logo+text -->
         <div class="col-md-3 mt-3 py-3">
            <div class="row justify-content-end">
               <div class="col-md-8 justify-content-end d-flex">
                  <img src={{ url_for('static', filename='LogoStartScreen_224X62.png' ) }}>

               </div>
               <div class="col-md-8 justify-content-end d-flex">
                  <p class="text-end text-dark fs-4 fw-semibold font-family-Inter m-0 ">
                     Поиск сотрудников для вашего бизнеса
               </p>
               </div>
               <div class="col-md-8 justify-content-end d-flex">
                  <a class="link-dark fs-5 fw-normal font-family-Inter px-3 py-2"
                  href="https://youtu.be/mQn1ngD5oMI" target="_blank">видео о системе>></a>
               </div>
               <div class="col-md-8 justify-content-end d-flex">
                  <a class="link-dark fs-6 fw-normal font-family-Inter px-3 py-2"
                  href="{{ url_for('auth.info') }}">больше>></a>
               </div>
            </div>
         </div>
      <!-- login -->
         <div class="col-md-3 justify-content-start mt-3 px-3">
            <div class="row px-6 py-1 justify-content-center bg-secondary-subtle">
               <div class="col-10 align-items-center">
                  <p class="text-dark fs-5 fw-semibold font-family-Inter px-3 py-2">
                     Вход для работодателей
                  </p>
               </div>
               <div class="col-10 align-items-center">
                  <form action="{{ url_for('auth.login')}}" method="post">

                     <div class="row ">

                        <div class="col justify-content-center"><input type="text" class="form-control" placeholder="логин" pattern=".{3,30}" name="name" required> </div>
                     </div>
                     <div class="row">

                        <div class="col justify-content-center"><input type="password" class="form-control" name="password" placeholder="пароль" pattern=".{4,20}" required> </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           Забыли пароль?<a class="link-underline-primary fs-6 fw-normal font-family-Inter" href="">
                              <a href="/err"> восстановить </a>
                        </div>       
                     </div>
                     <div class="row">
                        <div class="col-md-4"><input type="submit" class="btn btn-primary mt-3 mb-2 rounded-2"
                              value="Войти">
                        </div>
                        <div class="col-md-4"><input type="button" class="btn btn-secondary-subtle mt-3 mb-2 rounded-2 text-primary"
                              value="Регистрация" onclick="window.location.href='/register';"> </div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="row ">
               <div class="col-md-8">
                  <span   class="text-end text-primary font-family-Inter" style="font-size: 0.75rem;">
                  Связаться с нами: тел 053-640-5871, </span>
               </div>
               <div class="col-md-8">  
                  <span   class="text-end text-primary font-family-Inter" style="font-size: 0.75rem;">
                  e-mail <a href= "mailto:avoda.site.il@gmail.com">avoda.site.il@gmail.com</a>
               </span>
               </div>
            </div>
         </div>
      </div>
      <!-- banner -->
      <div class="row justify-content-end py-1 mb-2">
         <div class="col-md-2">
             <table class="table-bordered">
                 <tbody>
                     <tr>
                         <th scope="col" class="text-primary font-family-Inter" style="font-size: 0.75rem;">
                             <span class="px-1 py-1">Сейчас на сайте</span>
                         </th>
                     </tr>
                     <tr>
                         <td class="text-primary font-family-Inter" style="font-size: 0.75rem;">
                             <span class="px-1 py-1">{{mycounter()}} пользователей</span>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div> 
      <div class="row mt-1">
         <img src={{ url_for('static', filename='Banner2X.png' ) }}>
      </div>
  
      <div class="row">
         <span class="text-end text-dark  font-family-Inter" style="font-size: 0.75rem;">
            ver 1.5 Hatul Madan </span> </div>
   </div>

   {% block scripts %}
   <!-- Optional JavaScript 
   {{ bootstrap.load_js() }}-->
   {% endblock %}
</body>

</html>