<!doctype html>
<html lang="en">

<head>
   {% block head %}
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="icon" href="{{ url_for('static', filename='hatul.png') }}">
   {% block styles %}
   <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
   {% endblock %}
   <title>עבודה</title>
   {% endblock %}
</head>

<body>
   <div id="component" class="container-md">
      {% from 'bootstrap5/utils.html' import render_messages %}
      {% from 'bootstrap5/utils.html' import render_icon %}
      <ul class="nav nav-pills">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/title">Работодателям</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/prepost/0">Соискателям</a>
         </li>
        
       </ul>
      {{ render_messages() }}
      <!-- logo+login+about -->
      <div class="row justify-content-center mt-3 " style="min-height: 400px;">
         <!-- logo+text -->
         <div class="col-md-3 py-3">
            <div class="row justify-content-end">
               <div class="col-md-8 justify-content-end d-flex">
                  <img src={{ url_for('static', filename='LogoStartScreen_224X62.png' ) }}>

               </div>
               <div class="col-md-8 justify-content-end d-flex">
                  <p class="text-end text-dark fs-4 fw-semibold font-family-Inter m-0 ">
                     Поиск сотрудников для вашего бизнеса
                  </p>
               </div>
               <div class="col-md-8 text-dark fs-6 text-end font-family-Inter m-0 px-3 py-2">
                  <a class="link-underline-primary text-end" href="https://youtu.be/mQn1ngD5oMI" target="_blank">
                     Перед началом работы с системой посмотрите обучающее видео </a>
               </div>

            </div>
         </div>

         <!-- login -->
         <div class="col-md-3 justify-content-center mt-4 px-3">
            <div class="row px-6 py-1 justify-content-center bg-secondary-subtle">
               <div class="col-10 align-items-center">
                  <p class="text-dark fs-5 fw-semibold font-family-Inter px-3 py-2">
                     Вход для работодателей
                  </p>
               </div>
               <div class="col-10 align-items-center">
                  <form action="{{ url_for('auth.login')}}" method="post">

                     <div class="row ">

                        <div class="col justify-content-center"><input type="text" class="form-control"
                              placeholder="логин" pattern=".{3,30}" name="name" required> </div>
                     </div>
                     <div class="row">

                        <div class="col justify-content-center"><input type="password" class="form-control"
                              name="password" placeholder="пароль" pattern=".{4,20}" required> </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           Забыли пароль?<input type="button" 
                           class="btn btn-secondary-subtle fw-semibold text-primary" onclick="window.location.href='/err';" 
                           value="восстановить">
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4"><input type="submit" class="btn btn-primary  rounded-2"
                              value="Войти">
                        </div>
                        <div class="col-md-4"><input type="button"
                              class="btn btn-secondary-subtle fw-semibold text-primary" value="Регистрация"
                              onclick="window.location.href='/register';"> </div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="row text-end ">
               <div class="col-md-10">
                  <span class="text-primary font-family-Inter" style="font-size: 0.75rem;">
                     Связаться с нами: {{render_icon('phone-fill', 16) }} 053-640-5871 </span>
               </div>
               <div class="col-md-10">
                  <span class="text-primary font-family-Inter" style="font-size: 0.75rem;">
                     {{render_icon('envelope-fill', 16) }} <a href="mailto:avoda.site.il@gmail.com">avoda.site.il@gmail.com</a>
                  </span>
               </div>
            </div>
           
         </div>
         <!---about-->
         <div class="col-md-5">
            <div class="row text-primary fs-5 fw-semibold font-family-Inter m-0 px-1 py-1">
               <div class="col-md-10 text-primary mt-3 fs-5 ">
                  <nbsp class="font-family-Inter">Уважаемый пользователь!
                     База обновляется каждый день и содержит "холодные" и "теплые" контакты.
                     Обращайте внимание на дату размещения! </nbsp>

               </div>
            </div>
            <p class="text-dark  font-family-Inter m-0 px-3 py-2">
               Для просмотра контактов перейдите на
               {% if session['name'] %}
               <a class="link-underline-primary fs-6 fw-normal font-family-Inter"
                  href="{{ url_for('posts.list') }}">поиск
                  сотрудников.</a>
               {% else %}
               <b>поиск сотрудников.</b>
               {% endif %}
            </p>

            <p class="text-dark  font-family-Inter m-0 px-3 py-2">
               Для выбора регионов или профессий перейдите в
               {% if session['name'] %}
               <a class="link-underline-primary fs-6 fw-normal font-family-Inter" href="/filter/set">фильтр.</a>
               {% else %}
               <b>фильтр.</b>
               {% endif %}
            </p>

            <p class="text-dark   font-family-Inter m-0 px-3 py-2">
               Для настройки e-mail рассылки перейдите в
               {% if session['name'] %}
               <a class="link-underline-primary fs-6 fw-normal font-family-Inter"
                  href="{{ url_for('auth.cabinet') }}">кабинет.</a>
               {% else %}
               <b>кабинет.</b>
               {% endif %}
            </p>
         </div>

      </div>
      <div class="row  justify-content-center mt-1 px-3 py-2">
         <div class="col-md-2 text-center text-primary fw-semibold font-family-Inter">
        Наши новости:  <p> <a class="link-underline-primary fw-normal" href="{{ url_for('info.show') }}" target="_blank">
         больше новостей -></a> </div>
        <div class="col-md-8 font-family-Inter">
         {% if n!= undefined %}  
          <b>{{n["head"]}}</b>&nbsp
            <span class="fs-6">{{n["text"]}}
                {% if n["link"]!=None %} 
                         <a class="link-underline-primary" href="{{n["link"]}}" target="_blank">
                          посмотреть -></a>
                    {% endif %} 
                  </span>     
         {% endif %}      
        </div>
    
      <!--counter-->
            <div class="col-md-2 justify-content-end py-1 mb-2">
               <table class="table-bordered">
                  <tbody>
                     <tr>
                        <th scope="col" class="text-primary font-family-Inter" style="font-size: 0.75rem;">
                           <span class="px-1 py-1">Сейчас на сайте</span>
                        </th>
                     </tr>
                     <tr>
                        <td class="text-primary font-family-Inter" style="font-size: 0.75rem;">
                           <span class="px-1 py-1">{{mycounter()}} пользователей</span>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
      </div>
      <!-- banner -->
      <div class="row mt-1">
        
         <img src={{ url_for('static', filename='Banner2X.png' ) }}>
      </div>

      <div class="row">
         <span class="text-end text-dark  font-family-Inter" style="font-size: 0.75rem;">
            версия {{ver()}} Hatul Madan </span>
      </div>
   </div>

   {% block scripts %}
   <!-- Optional JavaScript -->
   {{ bootstrap.load_js() }}
   {% endblock %}
</body>

</html>